@mixin stepper() {
  .mat-stepper-horizontal {
    .mat-step-header {
      height: auto;
      min-height: 40px;
    }

    .mat-stepper-horizontal-line {
      min-width: 0;
      flex: 1;
      border-top-color: var(--color-border);
    }
  }
}
