<mat-stepper [linear]="false" #stepper [selectedIndex]="initialStep" class="custom-stepper" color="primary">
  <!--  Dataset  -->
  <mat-step [completed]="false" #dataset_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>dataset</mat-icon>
        <span>Dataset</span>
      </div>
    </ng-template>
    <div class="dataset-section">
      <app-dataset></app-dataset>
    </div>
  </mat-step>
  <!--  Modeling  -->
  <mat-step [completed]="false" #modeling_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>schema</mat-icon>
        <span>Modeling</span>
      </div>
    </ng-template>
    <div class="modeling-section">
      @if (stepper.selected == modeling_step) {
        <app-nn-builder></app-nn-builder>
      }
    </div>
  </mat-step>
  <!--  Training  -->
  <mat-step [completed]="false" #training_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>psychology</mat-icon>
        <span>Training</span>
      </div>
    </ng-template>
    <div class="training-section">
      @if (stepper.selected == training_step) {
        <app-training></app-training>
      }
    </div>
  </mat-step>
  <!--  Evaluation  -->
  <mat-step [completed]="false" #evaluation_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>analytics</mat-icon>
        <span>Evaluation</span>
      </div>
    </ng-template>
    <div class="evaluation-section">
      @if (stepper.selected == evaluation_step) {
        <app-evaluation></app-evaluation>
      }
    </div>
  </mat-step>
  <!--  Saving/Export  -->
  <mat-step [completed]="false" #export_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>ios_share</mat-icon>
        <span>Export</span>
      </div>
    </ng-template>
    <div class="export-section">
      @if (stepper.selected == export_step) {
        <app-export></app-export>
      }
    </div>
  </mat-step>
</mat-stepper>
