<mat-stepper [linear]="false" #stepper class="custom-stepper" color="primary">
  <!--  Dataset  -->
  <mat-step label="Dataset" [completed]="false" [errorMessage]="datasetError() ?? ''" [hasError]="datasetError() !== null"
            #dataset_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>dataset</mat-icon>
        <span>Dataset</span>
      </div>
    </ng-template>
    <div class="dataset-section">
      <app-dataset></app-dataset>
    </div>
  </mat-step>
  <!--  Modeling  -->
  <mat-step label="Modeling" [completed]="false" [errorMessage]="'Please build and connect your model to proceed.'" [hasError]="modelError()"
            #modeling_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>schema</mat-icon>
        <span>Modeling</span>
      </div>
    </ng-template>
    <div class="modeling-section">
      <app-nn-builder *ngIf="stepper.selected == modeling_step"></app-nn-builder>
    </div>
  </mat-step>
  <!--  Training  -->
  <mat-step label="Training" [completed]="false" #training_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>psychology</mat-icon>
        <span>Training</span>
      </div>
    </ng-template>
    <div class="training-section">
      <app-training *ngIf="stepper.selected == training_step"></app-training>
    </div>
  </mat-step>
  <!--  Evaluation  -->
  <mat-step label="Evaluation" [completed]="false" #evaluation_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>analytics</mat-icon>
        <span>Evaluation</span>
      </div>
    </ng-template>
    <div class="evaluation-section">
      <app-evaluation *ngIf="stepper.selected == evaluation_step"></app-evaluation>
    </div>
  </mat-step>
  <!--  Saving/Export  -->
  <mat-step label="Export" [completed]="false" #export_step>
    <ng-template matStepLabel>
      <div class="step-label">
        <mat-icon>ios_share</mat-icon>
        <span>Export</span>
      </div>
    </ng-template>
    <div class="export-section">
      <app-export *ngIf="stepper.selected == export_step"></app-export>
    </div>
  </mat-step>
</mat-stepper>
