<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/home']" class="site-logo">
      <img ngSrc="../assets/imgs/logo-with-text.png" alt="WebNet Builder logo" height="32" width="120">
    </a>
    <div class="nav-links">
      <a mat-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-button [routerLink]="['/builder']" routerLinkActive="active">
        <mat-icon>code</mat-icon>
        <span>Playground</span>
      </a>
      <a mat-button [routerLink]="['/projects']" routerLinkActive="active" 
         [matBadge]="getNumberOfProjects()" matBadgeColor="accent" matBadgePosition="above after">
        <mat-icon>folder</mat-icon>
        <span>Projects</span>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="site-content">
  <router-outlet></router-outlet>
</div>
