<input type="file" hidden (change)="onFileSelected($event)" [accept]="fileType" #fileUpload>

<div class="file-upload">
  <div class="file-info">
    @if (fileName) {
      <span class="file-name">{{ fileName }}</span>
      <span class="action-text">Click to change file</span>
    } @else {
      <span class="action-text">Select a file to upload</span>
    }
  </div>

  <button mat-mini-fab color="primary" class="upload-btn"
    (click)="fileUpload.click()">
    <mat-icon>{{fileName ? 'edit' : 'attach_file'}}</mat-icon>
  </button>
</div>
