<input type="file" hidden (change)="onFileSelected($event)" [accept]="fileType" #fileUpload>

<div class="file-upload">
  <div class="file-info">
    <ng-container *ngIf="fileName; else noFile">
      <span class="file-name">{{ fileName }}</span>
      <span class="action-text">Click to change file</span>
    </ng-container>
    <ng-template #noFile>
      <span class="action-text">Select a file to upload</span>
    </ng-template>
  </div>

  <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>{{fileName ? 'edit' : 'attach_file'}}</mat-icon>
  </button>
</div>
