<input type="file" hidden (change)="onFileSelected($event)" [accept]="fileType" #fileUpload>

<div
  class="file-upload"
  role="button"
  tabindex="0"
  (click)="fileUpload.click()"
  (keydown.enter)="fileUpload.click()"
  (keydown.space)="$event.preventDefault(); fileUpload.click()">
  <div class="file-upload__icon-wrap">
    <mat-icon class="file-upload__icon">{{ fileName ? 'description' : 'upload_file' }}</mat-icon>
  </div>

  <div class="file-info">
    @if (fileName) {
      <span class="file-name">{{ fileName }}</span>
      <span class="action-text">{{ selectedHint }}</span>
    } @else {
      <span class="file-name">{{ chooseLabel }}</span>
      <span class="action-text">{{ emptyHint }}</span>
    }
  </div>

  <button
    mat-stroked-button
    type="button"
    color="primary"
    class="browse-btn"
    (click)="$event.stopPropagation(); fileUpload.click()">
    Browse
  </button>
</div>
