<h1 mat-dialog-title>Preparation Checklist</h1>
<div mat-dialog-content>
  <ul>
    @for (task of data.tasks; track task) {
      <li class="task-item">
        <span class="task-status" [ngClass]="{'done': task.done, 'not-done': !task.done}">
          @if (task.done) {
            &#10003;
          } @else {
            &times;
          }
        </span>
        {{ task.message }}
      </li>
    }
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
